/*

(C) Toby Fox

*/

@font-face {
    font-family: 'Determination';
    src: url(DeterminationMono.woff) format("woff");
}

/*@font-face {
    font-family: 'Determination';
    src: url(Determination.woff) format("woff");
}*/